<%-include("partials/header");-%>
<h1> <%=posttitle%></h1>
<p><%=postcontent%></p>
<form class="" action="/delete" method="post">
  <!-- <input type="hidden" name="deleteid" value="<%= posttitle._id %>"></input> -->
<button class="btn btn-lg btn-primary" type="submit">Delete post</button>
</form>
<form class="" action="/update" method="post">
  <!-- <input type="hidden" name="deleteid" value="<%= posttitle._id %>"></input> -->
<button class="btn btn-lg btn-primary" type="submit">Update post</button>
</form>
<%-include("partials/footer");-%>
